<h2>Welcome to the AUSLAB domain</h2>
Dear {{givenName}},<br><br>Congratulations, you are now a member of the AUSLAB domain! You can use the following credentials to access the lab. Read the rest of this email for details about changing your password.

<br><br>Username: <tt>{{userid}}</tt>
<br>Password: <tt>{{random_password}}</tt>

<h3>Connecting to the lab</h3>

You can connect to the lab in one of two ways:
<ol>
    <li>Use AnyConnect to VPN to https://72.163.3.126/ using your username and password provided above.</li>
    <li>Point your web browser to Guacamole (more about Guacamole below) at <a href="https://perseus-access.cisco.com">https://perseus-access.cisco.com</a> and log in with your username and password, or just click <b><a href="https://perseus-access.cisco.com/#/?username={{userid}}&password={{random_password}}">this link</a></b>.</li>
</ol>

<h3>What is Guacamole?</h3>

<a href="https://guacamole.apache.org/">Guacamole</a> provides RDP access to the lab through your browser without requiring VPN or remote desktop software on your laptop. This is the fastest way to connect to the lab, but also limits you to the Windows desktop provided by your lab admins.

Once you familiarize yourself with the keyboard shortcuts, you will have a much better experience with Guacamole. <b>On a Mac</b>, hit <tt>command-control-shift</tt> to access the shared clipboard or on-screen keyboard. <b>On a PC</b>, use <tt>ctrl-alt-shift</tt>.

<h3>Changing your password</h3>

Use <b><a href="https://perseus-access.cisco.com/#/?username={{userid}}&password={{random_password}}">this link</a></b> to connect to a remote desktop and change your password. Use the keyboard shorcuts described above to bring up the on-screen keyboard and hit CTRL-ALT-DEL on that remote desktop to change your password.

<h3>Connecting to Tetration</h3>

We will always use <b>your Cisco email address</b> as your Tetration username. Just perform a password reset and check your email. Tetration logins do not use the username or password described in this email.