<h2>Your password has been reset</h2>
Dear {{givenName}},<br><br>As per your request, your password has been reset. Your temporary password is: <tt>{{random_password}}</tt><br><br>
Please use <b><a href="https://perseus-access.cisco.com/#/?username={{userid}}&password={{random_password}}">this link</a></b> to connect to a remote desktop and change your password.<br><br>
You will need to access the on-screen keyboard in order to hit <tt>control-alt-delete</tt> to reset your password. <b>On a Mac</b>, hit <tt>command-control-shift</tt> to access the shared clipboard or on-screen keyboard. <b>On a PC</b>, use <tt>ctrl-alt-shift</tt>.
